@media (max-width: 1200px)
    .promo
        padding: 21px 20px 93px 20px
        &__header
            font-size: 35px
        &__subheader
            font-size: 20px
        &__icon
            font-size: 13px
            img 
                width: 50px
                height: 50px
        .button_main
            width: 270px
            height: 45px
    .title_left
        font-size: 28px
    .carousel
        &__wrapper
            img 
                width: 90%
@media (max-width: 991px)
    .promo
        &__wrapper
            margin-right: 20px
        &__header
            font-size: 25px
        &__subheader
            font-size: 15px
        &__icons
            width: 325px
        &__icon
            font-size: 10px
            img 
                width: 30px
                height: 30px
        .button_main
            width: 230px
            height: 40px
            font-size: 13px
        &__link
            font-size: 13px
    .title_left
        margin-left: 25px
        font-size: 23px
    .consultation
        padding-left: 25px
        padding-right: 25px
    .carousel
        &__wrapper
            img 
                width: 80%
                margin: 0 auto
@media (max-width: 767px)
    .header
        &__logo
            width: 110px
        &__official
            font-size: 10px
            span 
                font-size: 12px
        &__phone
            font-size: 12px
        .button
            width: 100px
            height: 20px
            font-size: 9px
    .promo
        &__wrapper
            align-items: center
        &__header
            font-size: 20px
        &__subheader
            font-size: 10px
    .benefits
        .title
            font-size: 20px
        &__items
            flex-direction: column
            margin-top: 0
            .benefits__item
                min-height: 166px
                margin-top: 30px
                .item__header
                    margin-top: 10px
                .item__text
                    margin-top: 5px
    .title_left
        font-size: 18px
    .consultation
        min-height: 300px
        padding: 25px 15px 25px 15px
        &__descr
            font-size: 14px
            margin-top: 20px
    .carousel
        &__wrapper
            img 
                width: 300px
                height: 250px
                margin: 0 auto
        .slick-active
            max-width: 300px
    .catalog
        &__tab
            width: 180px
        &__content
            justify-content: space-around
    .responses
        padding: 0 30px
@media (max-width: 575px)
    .header
        &__logo
            width: 110px
        &__official
            font-size: 9px
            span 
                font-size: 10px
        &__phone
            font-size: 11px
        .button
            width: 100px
            height: 20px
            font-size: 9px    
    .promo
        min-height: 450px
        padding-bottom: 25px
        &__wrapper
            margin-top: 28px
        &__header
            font-size: 15px
        &__subheader
            font-size: 10px
        &__icons
            width: 225px
        &__icon
            font-size: 9px
            img 
                width: 25px
                height: 25px
        .button_main
            width: 150px
            height: 30px
            font-size: 10px
        &__link
            font-size: 11px
    .benefits
        padding: 33px 0 38px 0
        .title
            font-size: 13px
        &__items
            flex-direction: column
            margin-top: 0
            .benefits__item
                min-height: 166px
                margin-top: 30px
                .item__header
                    font-size: 14px
                    margin-top: 10px
                .item__text
                    margin-top: 5px
    .title_left
        font-size: 13px
        text-align: center
    .consultation
        &__descr
            font-size: 11px
            text-align: center
            margin-bottom: 15px
    .feed-form
        margin: 0 auto
        align-items: center
        input 
            width: 200px
            height: 35px
    .button_submit
        width: 200px
        height: 40px
        font-size: 12px
    .catalog
        .title
            font-size: 15px
        &__tab
            width: 80px
            height: 30px
            font-size: 8px
            line-height: 28px
    .responses
        .title
            font-size: 20px
        img 
            width: 100px
            height: 100px
            margin: 0 auto
            margin-bottom: 20px
        &-items
            flex-direction: column
        &-item
            text-align: center
            margin: 0 auto
            &__text
                font-size: 13px
    .modal
        width: 250px
        min-height: 300px
        padding: 10px
        padding-top: 20px
        &__subtitle
            font-size: 13px
        &__descr
            font-size: 11px
        .feed-form_mt25
            margin-top: 20px
            width: 220px
        .button_submit
            width: 170px
            height: 35px
            font-size: 11px
        &__close
            right: 5px
            top: 5px
            font-size: 30px
            


        