.title
    font-weight: 700
    text-transform: uppercase
    color: #0d0d0d
    font-size: 30px
    text-align: center     
    &_left
        color: #ffffff
        font-size: 36px
        text-align: left
